:root {
    font-size: 16px;
    font-family: 'Poppins';

    --text-primary: #000000;
    --text-secondary: #ffffff;
    --text-tertiary: #a3a3a3;
    --text-quaternary: #4b4b4b;

    --bg-primary: #ffffff;
    --bg-secondary: #000000;
    --bg-tertiary: #eeeeee;
    
    --zup-primary: #0C3455;
    --zup-secondary: #8DC63F;
    --zup-tertiary: #EF4123;

    --default-transition: width 200ms ease;
}

body {
    display: flex;
    color: var(--text-primary);
    background-color: var(--bg-tertiary);
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    box-shadow: 0 4px 8px 0 #00000033;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.nav-item {
    margin: 1rem;
    height: 100%;
}

.navbar-nav img {
    width: 100px;
    height: auto;
    margin-top: -.20rem;
}

.nav-link {
    display: flex;
}

.navbar a {
    text-decoration: none;
}

.nav-link .link-text {
    display: none;
}

.navbar .material-icons {
    color: var(--zup-primary);
}

.material-icons#search-icon {
    padding: 0 .25rem 0 .25rem;
}

.nav-link input#search-input {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: rgba(255, 255, 255, 0);
    transition: var(--default-transition);
}

#search-input::placeholder {
    font-size: 18px;
    font-family: 'Poppins';
}

#search-box {
    margin-top: 1.1rem;
    padding: .25rem;
    border: 2px solid #ababab42;
    border-radius: 10rem;
}

/* sidebar */

.sidebar {
    position: fixed;
    padding: 0;
    margin: 4.5rem 0 0 0;
    background-color: var(--bg-primary);
    box-shadow: 0 8px 8px 0 #00000033;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.side-item {
    width: 100%;
}

.side-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    text-decoration: none;
    filter: grayscale(100%);
    transition: var(--default-transition);
}

.side-link:hover {
    filter: grayscale(0%);
    background-color: var(--bg-tertiary);
    transition: var(--default-transition);
}

.side-link .link-text {
    display: none;
}

.side-link i {
    min-width: 1.5rem;
    margin: 0 1.5rem;
}

.side-link .toggled-side-link {
    color: var(--zup-secondary);
}

.sidebar .material-icons,
.link-text {
    color: var(--zup-secondary);
    transition: var(--default-transition);
}

/* people list */ 

#people-list {
    width: 100vw;
}

#people-list-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 2.5rem;
    list-style: none;
}

#people-list-container img {
    display: flex;
    width: 80px;
    border-radius: 50%;
}

#people-list-container img:hover {
    filter: opacity(50%);
}

.person {
    display: flex;
    padding: 0;
    margin: 0.05rem 0 0.05rem 0;
    border-radius: 0.2rem;
    box-shadow: 0 4px 8px 0 #00000033;
    background-color: var(--bg-primary);
}

.person .person-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}

.person span {
    color: #ABABAB;
}

.person .person-name {
    font-weight: bold;
    color:var(--zup-primary);
}

.person .material-icons {
    font-size: 1.5rem;
}

.icons a {
    text-decoration: none;
    color: #ABABAB;
}

.icons a:hover {
    color: var(--zup-secondary);
    transition: var(--default-transition);
}

.icons .toggledIcon {
    color: var(--zup-secondary);
}

/* modal */

.modal-container {
    width: 100vw;
    height: 100vh;

    position: fixed;
    
    top: 0;
    left: 0;

    z-index: 2000;

    display: none;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .5);
}

.modal {
    width: 100vw;
    height: 100vh;

    min-width: 30%;

    position: relative;

    padding: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, var(--zup-primary) 50%,
    var(--bg-primary) 50%);
}

#modal-close-button {
    width: 40px;
    height: 40px;

    font-size: 2rem;

    position: absolute;

    top: 2rem;
    left: 2rem;

    border-radius: 50%;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
    color: var(--zup-primary);
    background-color: var(--bg-tertiary);
    
}

.modal-person {
    width: 60%;
    min-width: 30%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-radius: 10px;

    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, .3);
    background: var(--bg-primary);
}

.modal img {
    width: 250px;
    border-radius: 50%;

    border: 1px solid var(--bg-primary);
}

.modal-person-description {
    font-size: 1.2rem;

    color: var(--text-tertiary);
}

.modal-person-info {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-quaternary);
}

.modal-person-icons {

    padding: 2rem;

    display: flex;

    justify-content: center;
    align-items: center;
}

.modal-person-icons .material-icons {
    font-size: 2.5rem;

    padding: 0 .5rem 0 .5rem;

    filter: grayscale(100%);
    color: var(--text-tertiary);
    transition: var(--default-transition);
}

.modal-person-icons .material-icons:hover {
    filter: grayscale(0%);
    color: var(--zup-primary);
    transition: var(--default-transition);
}

/* small screens */

@media only screen and (max-width: 950px) {

.navbar {
    width: 100vw;
    height: 5rem;
}

#search-input {
    width: 30vw;
}

.sidebar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    box-shadow: 0 4px 8px 8px #00000033;
}

.sidebar-nav {
    flex-direction: row;
}

.side-link {
    justify-content: center;
    align-content: center;
}

#people-list {
    margin: 4.5rem 0 4.5rem 0;
    justify-content: center;
    align-items: center;
}

#people-list-container img {
    width: 60px;
}

.person {
    min-width: 350px;
}

.person .person-email {
    display: none;
}

.person .person-number {
    display: none;
}

.person .person-location {
    display: none;
}

.person img {
    padding-right: 1rem;
}

.person span {
    padding: 0 1rem 0 1rem;
}

.person i {
    padding: 0 .2rem 0 .2rem;
}

.modal-person-icons .material-icons {
    font-size: 2rem;
}

}

/* large screens */

@media only screen and (min-width: 950px) {

.navbar {
    height: 4.5rem;
    width: 100vw;
}

.sidebar {
    height: 100vh;
    width: 4.5rem;
}

.sidebar:hover {
    width: 13rem;
    transition: var(--default-transition);
}

.sidebar:hover .link-text {
    display: block;
}

.sidebar-nav {
    flex-direction: column;
    align-items: center;
}

#search-input {
    width: 40vw;
}

#search-input:focus {
    width: 60vw;
}

#people-list {
    margin: 4.5rem 0 4.5rem 4.5rem;
    justify-content: center;
    align-items: center;
}

#people-list-container img {
    width: 80px;
}

}